{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}
{% block head %}
{{ super() }}
<style>
    th{text-align:center}
</style>
{% endblock %}
{% block page_content %}
<div class="page-header">
    <h3 align="center">出国用汇费用核销表</h3>
</div>
<form id="form" enctype="multipart/form-data" action="{{ url_for('main.veriexecute') }}" method="post">
    <input name="id" id="id" type="hidden" value="{% if teaminfo %}{{ teaminfo.id }}{% endif %}" >
    <div style="margin-left: 30%" >
    <p><label>代&nbsp;表&nbsp;团&nbsp;成&nbsp;员&nbsp;</label><input style="width: 300px" name="peoplesname" id="peoplesname" value="{% if teaminfo %}{{ teaminfo.peoplesname }}{% endif %}"> <span id="peoplenameinfo" style="display:none;color:red"></span>
    <label>出&nbsp;国&nbsp;总&nbsp;人&nbsp;数&nbsp;</label><input style="width: 100px" id="peoples" name="peoples" value="{% if teaminfo %}{{ teaminfo.peoples }}{% endif %}"><label>人</label><span id="peoplesnuminfo" style="display:none;color:red"></span></p>
    <p><label>出境日期</label>
        <input name="departuredate"   id="departuredate" type="text" >
        <label>入境日期</label>
        <input name="entrydate"   id="entrydate" type="text" >
        <label>实际出访天数</label><input name="days" id="days"/>
        <span id="daysinfo" style="display:none;color:red"></span></p>
    <p><label>出访地区1</label><select name="acturalarea1"  id="acturalarea1" ></select><input name="actualarea1days" id="actualarea1days" ><label>天</label><select name="actualcashtype1" id="actualcashtype1">
            <option value="">选择货币</option>
            <option value="美元">美元</option>
            <option value="欧元">欧元</option>
            <option value="日元">日元</option>
            <option value="港币">港币</option>
            <option value="英镑">英镑</option>
        </select><span id="area1info" style="display:none;color:red"></p>
    <p><label>出访地区2</label><select name="acturalarea2"  id="acturalarea2"></select><input name="actualarea2days" id="actualarea2days"><label>天</label><select name="actualcashtype2" id="actualcashtype2">
            <option value="">选择货币</option>
            <option value="美元">美元</option>
            <option value="欧元">欧元</option>
            <option value="日元">日元</option>
            <option value="港币">港币</option>
            <option value="英镑">英镑</option>
        </select></p>
    <p><label>出访地区3</label><select name="acturalarea3"  id="acturalarea3"></select><input name="actualarea3days" id="actualarea3days"><label>天</label><select name="actualcashtype3" id="actualcashtype3">
            <option value="">选择货币</option>
            <option value="美元">美元</option>
            <option value="欧元">欧元</option>
            <option value="日元">日元</option>
            <option value="港币">港币</option>
            <option value="英镑">英镑</option>
        </select></p>
    <p>


    </p>
</div>
<div style="margin-left: 30%">
    <table border="1">
        <tr>
            <th>用&nbsp;汇&nbsp;项&nbsp;目</th>
            <th>原&nbsp;批&nbsp;准&nbsp;</th>
            <th>实&nbsp;际&nbsp;开&nbsp;支&nbsp;</th>
            <th>结余或&nbsp;超支</th>
            <th>备&nbsp;注</th>
        </tr>
        <tr>
            <th>A机票</th>
            <td><input name="fee12" style="width:100px;" id="fee12" value="{% if teaminfo %}{{ teaminfo.itemfee.fee12 }}{% endif %}"></td>
            <td><input name="fee15" style="width:100px;" id="fee15" ></td>
            <td><input name="fee16" style="width:100px;" id="fee16" ></td>
            <td><input name="fee17" style="width:100px;" id="fee17"></td>

        </tr>
        <tr>
            <th>C伙食费</th>
            <td><input name="fee22"  style="width:100px;" id="fee22" value="{% if teaminfo %}{{ teaminfo.itemfee.fee22 }}{% endif %}"></td>
            <td><input name="fee25"  style="width:100px;" id="fee25" ></td>
            <td><input name="fee26"  style="width:100px;" id="fee26" ></td>
            <td><input name="fee27"  style="width:100px;" id="fee27" ></td>
        </tr>

        <tr>
            <th>D住宿费</th>
            <td><input name="fee32"  style="width:100px;" id="fee32" value="{% if teaminfo %}{{ teaminfo.itemfee.fee32 }}{% endif %}"></td>
            <td><input name="fee35"  style="width:100px;" id="fee35" ></td>
            <td><input name="fee36"  style="width:100px;" id="fee36" ></td>
            <td><input name="fee37"  style="width:100px;" id="fee37" ></td>
        </tr>

        <tr>
            <th>E公杂费</th>
            <td><input name="fee42"  style="width:100px" id="fee42" value="{% if teaminfo %}{{ teaminfo.itemfee.fee42 }}{% endif %}"f></td>
            <td><input name="fee45"  style="width:100px;" id="fee45" ></td>
            <td><input name="fee46"  style="width:100px;" id="fee46" ></td>
            <td><input name="fee47"  style="width:100px;" id="fee47" ></td>
        </tr>

        <tr>
            <th>F交通费</th>
            <td><input name="fee52"  style="width:100px;" id="fee52" value="{% if teaminfo %}{{ teaminfo.itemfee.fee52 }}{% endif %}"></td>
            <td><input name="fee55"  style="width:100px;" id="fee55" ></td>
            <td><input name="fee56"  style="width:100px;" id="fee56" ></td>
            <td><input name="fee57"  style="width:100px;" id="fee57" ></td>
        </tr>

        <tr>
            <th>G个人另用</th>
            <td><input name="fee62"  style="width:100px;" id="fee62" value="{% if teaminfo %}{{ teaminfo.itemfee.fee62 }}{% endif %}"></td>
            <td><input name="fee65"  style="width:100px;" id="fee65" ></td>
            <td><input name="fee66"  style="width:100px;" id="fee66" ></td>
            <td><input name="fee67"  style="width:100px;" id="fee67" ></td>
        </tr>

         <tr>
            <th>I备用金</th>
            <td><input name="fee72"  style="width:100px;" id="fee72" value="{% if teaminfo %}{{ teaminfo.itemfee.fee72 }}{% endif %}"></td>
            <td><input name="fee75"  style="width:100px;" id="fee75" ></td>
            <td><input name="fee76"  style="width:100px;" id="fee76" ></td>
            <td><input name="fee77"  style="width:100px;" id="fee77" ></td>
        </tr>
        <tr>
            <th>合计</th>
            <td><input name="fee82"  style="width:100px;" id="fee102" value="{% if teaminfo %}{{ teaminfo.itemfee.fee102 }}{% endif %}"></td>
            <td><input name="fee85"  style="width:100px;" id="fee105" ></td>
            <td><input name="fee86"  style="width:100px;" id="fee106" ></td>
            <td><input name="fee87"  style="width:100px;" id="fee107" ></td>
        </tr>
    </table>
</div>
</form>
<div align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="提交" id="submit">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="返回"></div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="../static/laydate/laydate.js"></script>
<script>
laydate.render({
  elem: '#departuredate' //指定元素
});
laydate.render({
  elem: '#entrydate' //指定元素
});
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#acturalarea1").append("<option value=''></option>")
        $("#acturalarea2").append("<option value=''></option>")
        $("#acturalarea3").append("<option value=''></option>")
        {% for key,value in data %}
            $("#acturalarea1").append("<option value={{ key }}>{{ value[0] }}</option>")
        {% endfor %}
        {% for key,value in data %}
            $("#acturalarea2").append("<option value={{ key }}>{{ value[0] }}</option>")
        {% endfor %}
        {% for key,value in data %}
            $("#acturalarea3").append("<option value={{ key }}>{{ value[0] }}</option>")
        {% endfor %}
        blurf("peoplesname","peoplenameinfo")
        blurf("peoples","peoplesnuminfo")
        blurf("days","daysinfo")
        blurf("departuredate","daysinfo")
        blurf("entrydate","daysinfo")
        blurf("acturalarea1","area1info")
        keyup("peoples")
        keyup("days")
        keyup("actualarea1days")
        for(var i=1;i<9;i++)
        {
            keyup("fee"+i+"5");
            keyup("fee"+i+"6");
        }
        //修改时赋值语句
        {% if teaminfo %}
            $('#area1').val({{ teaminfo.area1 }})
            $('#cashtype1').val('{{ teaminfo.cashtype1 }}')
        {% endif %}
});

    var fees = {{ jsonstr | safe }}
    function keyup(inputid)
    {
            $("#"+inputid).keyup(function()
            {
                 var c=$(this);
                 if(/[^\d]/.test(c.val())){//替换非数字字符
                  var temp_amount=c.val().replace(/[^\d.]/g,'');
                  $(this).val(temp_amount);
             }
     	    });
    }
    function blurf(inputid,spanid)
    {
        $("#"+inputid).blur(function(){
            var c=$(this);
            var content =  $.trim(c.val);

            if ($.trim(c.val()))
            {
              if($("#"+spanid).is(":visible"))
              {
                  $("#"+spanid).hide();
              }
            }
     	});

    }
    /*
    $("#calculate").click(function(){
        var peoples = $("#peoples").val();
        var single = $("#single").val()
        var days =$("#days").val();
        var leavedate = $("#datepicker").val();
        var countryType1 = $("#area1").val();
        if ($.trim(peoples)=='')
        {

        }
        if(countryType1==''){
            alert('出访地区1未选')
            return;
        }

        $.each(fees,function (key,val) {
            if(key==countryType1)
            {
                $("#fee22").val(days*peoples*val[3]);
                $("#fee32").val(days*(peoples-single)*val[2]+days*single*val[2]*1.3);
                $("#fee42").val(days*peoples*val[4])
                $("#cashtype1").val(val[1])
            }
        })
        var sumbudget = 0
        var sumverify = 0
        for(var i = 1;i < 10;i++)
        {
            sumbudget+=Number($("#"+"fee"+i+"2").val());
            sumverify+=Number($("#"+"fee"+i+"3").val());

        }
        $("#fee102").val(sumbudget)
    });*/
        $("#submit").click(
            function(){
                /*checkvalue("peoplesname","peoplenameinfo","请输入团队成员！");
                checkvalue("peoples","peoplesnuminfo","请输入团队人数！");
                checkvalue("days","daysinfo","请输入批准天数！");
                checkvalue("datepicker","daysinfo","请选择出境日期！");
                checkvalue("area1","area1info","请选择出访地区1！");
                checkvalue("area1days","area1info","请输入出访地区1的天数！");
                checkvalue("cashtype1","area1info","请选择出访地区1的货币！")*/;
                {% if teaminfo %}
                    $("#id").attr("value", "{{ teaminfo.id }}")
                {% endif %}
                $("#form").submit();

            });

    function checkvalue (inputid,spanid,textval){
        var input = $.trim($("#"+inputid).val());
        if(input=='')
        {
                var spanidinfo = $("#"+spanid);
                spanidinfo.show();
                spanidinfo.text(textval);
                $("#"+inputid).focus();
                return;
        }
    }
    </script>
{% endblock %}