{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}
{% block head %}
{{ super() }}
<style>
    th{text-align:center}
</style>
{% endblock %}
{% block page_content %}
<div class="page-header">
    <h3 align="center">出国用汇申请（预算）书</h3>
</div>
<form id="form" enctype="multipart/form-data" action="{{ url_for('main.addexecute') }}" method="post">
<div style="margin-left: 30%" >
    <p><label>代&nbsp;表&nbsp;团&nbsp;成&nbsp;员&nbsp;</label><input style="width: 300px" name="peoplesname" id="peoplesname" value="{% if teaminfo %}{{ teaminfo.peoplesname }}{% endif %}"> <span id="peoplenameinfo" style="display:none;color:red"></span></p>
    <p><label>出&nbsp;国&nbsp;总&nbsp;人&nbsp;数&nbsp;</label><input style="width: 100px" id="peoples" name="peoples" value="{% if teaminfo %}{{ teaminfo.peoples }}{% endif %}"><label>人</label><label>（单人</label><input style="width: 100px" name="single" id="single" value="{% if teaminfo %}{{ teaminfo.single }}{% endif %}"><label>人）</label><span id="peoplesnuminfo" style="display:none;color:red"></span></p>
    <p><label>批&nbsp;准&nbsp;出&nbsp;访&nbsp;天&nbsp;数&nbsp;</label><input id="days" name="days" value="{% if teaminfo %}{{ teaminfo.days }}{% endif %}"><label>天&nbsp;&nbsp;</label><label>预计出境日期</label>
        <input name="expectdate"   id="datepicker" type="text" value="{% if teaminfo %}{{ teaminfo.expectdate }}{% endif %}"><span id="daysinfo" style="display:none;color:red"></span></p>
    <p><label>出访地区1</label><select name="area1"  id="area1" ></select><input name="area1days" id="area1days" value="{% if teaminfo %}{{ teaminfo.area1days }}{% endif %}"><label>天</label><select name="cashtype1" id="cashtype1">
            <option value="">选择货币</option>
            <option value="美元">美元</option>
            <option value="欧元">欧元</option>
            <option value="日元">日元</option>
            <option value="港币">港币</option>
            <option value="英镑">英镑</option>
        </select><span id="area1info" style="display:none;color:red"></p>
    <p><label>出访地区2</label><select name="area2"  id="area2"></select><input name="area2days" id="area2days"><label>天</label><select name="cashtype2" id="cashtype2">
            <option value="">选择货币</option>
            <option value="美元">美元</option>
            <option value="欧元">欧元</option>
            <option value="日元">日元</option>
            <option value="港币">港币</option>
            <option value="英镑">英镑</option>
        </select></p>
    <p><label>出访地区3</label><select name="area3"  id="area3"></select><input name="area3days" id="area3days"><label>天</label><select name="cashtype3" id="cashtype3">
            <option value="">选择货币</option>
            <option value="美元">美元</option>
            <option value="欧元">欧元</option>
            <option value="日元">日元</option>
            <option value="港币">港币</option>
            <option value="英镑">英镑</option>
        </select></p>
    <p>


    </p>
</div>
<div style="margin-left: 30%">
    <table border="1">
        <tr>
            <th>用&nbsp;汇&nbsp;项&nbsp;目</th>
            <th>预&nbsp;算&nbsp;数</th>
            <th>核&nbsp;批&nbsp;数</th>
            <th>说&nbsp;明</th>
        </tr>
        <tr>
            <th>A机票</th>
            <td><input name="fee12" style="width:100px;" id="fee12" value="{% if teaminfo %}{{ teaminfo.itemfee.fee12 }}{% endif %}"></td>
            <td><input name="fee13" style="width:100px;" id="fee13" value="{% if teaminfo %}{{ teaminfo.itemfee.fee13 }}{% endif %}"></td>
            <td><input name="fee14" style="width:100px;" id="fee14" value="{% if teaminfo %}{{ teaminfo.itemfee.fee14 }}{% endif %}"></td>
        </tr>
        <tr>
            <th>C伙食费</th>
            <td><input name="fee22"  style="width:100px;" id="fee22" value="{% if teaminfo %}{{ teaminfo.itemfee.fee22 }}{% endif %}"></td>
            <td><input name="fee23"  style="width:100px;" id="fee23" value="{% if teaminfo %}{{ teaminfo.itemfee.fee23 }}{% endif %}"></td>
            <td><input name="fee24"  style="width:100px;" id="fee24" value="{% if teaminfo %}{{ teaminfo.itemfee.fee24 }}{% endif %}"></td>
        </tr>

        <tr>
            <th>D住宿费</th>
            <td><input name="fee32"  style="width:100px;" id="fee32" value="{% if teaminfo %}{{ teaminfo.itemfee.fee32 }}{% endif %}"></td>
            <td><input name="fee33"  style="width:100px;" id="fee33" value="{% if teaminfo %}{{ teaminfo.itemfee.fee33 }}{% endif %}"></td>
            <td><input name="fee34"  style="width:100px;" id="fee34" value="{% if teaminfo %}{{ teaminfo.itemfee.fee34 }}{% endif %}"></td>
        </tr>

        <tr>
            <th>E公杂费</th>
            <td><input name="fee42"  style="width:100px" id="fee42" value="{% if teaminfo %}{{ teaminfo.itemfee.fee42 }}{% endif %}"f></td>
            <td><input name="fee43"  style="width:100px;" id="fee43" value="{% if teaminfo %}{{ teaminfo.itemfee.fee43 }}{% endif %}"></td>
            <td><input name="fee44"  style="width:100px;" id="fee44" value="{% if teaminfo %}{{ teaminfo.itemfee.fee44 }}{% endif %}"></td>
        </tr>

        <tr>
            <th>F交通费</th>
            <td><input name="fee52"  style="width:100px;" id="fee52" value="{% if teaminfo %}{{ teaminfo.itemfee.fee52 }}{% endif %}"></td>
            <td><input name="fee53"  style="width:100px;" id="fee53" value="{% if teaminfo %}{{ teaminfo.itemfee.fee53 }}{% endif %}"></td>
            <td><input name="fee54"  style="width:100px;" id="fee54" value="{% if teaminfo %}{{ teaminfo.itemfee.fee54 }}{% endif %}"></td>
        </tr>

        <tr>
            <th>G个人另用</th>
            <td><input name="fee62"  style="width:100px;" id="fee62" value="{% if teaminfo %}{{ teaminfo.itemfee.fee62 }}{% endif %}"></td>
            <td><input name="fee63"  style="width:100px;" id="fee63" value="{% if teaminfo %}{{ teaminfo.itemfee.fee63 }}{% endif %}"></td>
            <td><input name="fee64"  style="width:100px;" id="fee64" value="{% if teaminfo %}{{ teaminfo.itemfee.fee64 }}{% endif %}"></td>
        </tr>

         <tr>
            <th>I备用金</th>
            <td><input name="fee72"  style="width:100px;" id="fee72" value="{% if teaminfo %}{{ teaminfo.itemfee.fee72 }}{% endif %}"></td>
            <td><input name="fee73"  style="width:100px;" id="fee73" value="{% if teaminfo %}{{ teaminfo.itemfee.fee73 }}{% endif %}"></td>
            <td><input name="fee74"  style="width:100px;" id="fee74" value="{% if teaminfo %}{{ teaminfo.itemfee.fee74 }}{% endif %}"></td>
        </tr>

        <tr>
            <th>J摊位费</th>
            <td><input name="fee82"  style="width:100px;" id="fee82" value="{% if teaminfo %}{{ teaminfo.itemfee.fee82 }}{% endif %}"></td>
            <td><input name="fee83"  style="width:100px;" id="fee83" value="{% if teaminfo %}{{ teaminfo.itemfee.fee83 }}{% endif %}"></td>
            <td><input name="fee84"  style="width:100px;" id="fee84" value="{% if teaminfo %}{{ teaminfo.itemfee.fee84 }}{% endif %}"></td>
        </tr>

        <tr>
            <th>其他</th>
            <td><input name="fee92"  style="width:100px;" id="fee92" value="{% if teaminfo %}{{ teaminfo.itemfee.fee92 }}{% endif %}"></td>
            <td><input name="fee93"  style="width:100px;" id="fee93" value="{% if teaminfo %}{{ teaminfo.itemfee.fee93 }}{% endif %}"></td>
            <td><input name="fee94"  style="width:100px;" id="fee94" value="{% if teaminfo %}{{ teaminfo.itemfee.fee94 }}{% endif %}"></td>
        </tr>

        <tr>
            <th>合计</th>
            <td><input name="fee102"  style="width:100px;" id="fee102" value="{% if teaminfo %}{{ teaminfo.itemfee.fee102 }}{% endif %}"></td>
            <td><input name="fee103"  style="width:100px;" id="fee103" value="{% if teaminfo %}{{ teaminfo.itemfee.fee103 }}{% endif %}"></td>
            <td><input name="fee104"  style="width:100px;" id="fee104" value="{% if teaminfo %}{{ teaminfo.itemfee.fee104 }}{% endif %}"></td>
        </tr>
    </table>
</div>
</form>
<div align="center"><input type="button" value="计算" id="calculate">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="取消">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="提交" id="submit">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="返回"></div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="../static/laydate/laydate.js"></script>
<script>
laydate.render({
  elem: '#datepicker' //指定元素
});
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#area1").append("<option value=''></option>")
        $("#area2").append("<option value=''></option>")
        $("#area3").append("<option value=''></option>")
        {% for key,value in data %}
            $("#area1").append("<option value={{ key }}>{{ value[0] }}</option>")
        {% endfor %}
        {% for key,value in data %}
            $("#area2").append("<option value={{ key }}>{{ value[0] }}</option>")
        {% endfor %}
        {% for key,value in data %}
            $("#area3").append("<option value={{ key }}>{{ value[0] }}</option>")
        {% endfor %}
        blurf("peoplesname","peoplenameinfo")
        blurf("peoples","peoplesnuminfo")
        blurf("days","daysinfo")
        blurf("datepicker","daysinfo")
        blurf("area1","area1info")
        blurf("area1days","area1info")
        blurf("cashtype1","area1info")
        keyup("peoples")
        keyup("days")
        keyup("single")
        keyup("area1days")
        for(var i=1;i<11;i++)
        {
            keyup("fee"+i+"2");
            keyup("fee"+i+"3");
        }
        //修改时赋值语句
        {% if teaminfo %}
            $('#area1').val({{ teaminfo.area1 }})
            $('#cashtype1').val('{{ teaminfo.cashtype1 }}')
        {% endif %}

        {% if teaminfo %}
        {% endif %}

});

    var fees = {{ jsonstr | safe }}



    function keyup(inputid)
    {
            $("#"+inputid).keyup(function()
            {
                 var c=$(this);
                 if(/[^\d]/.test(c.val())){//替换非数字字符
                  var temp_amount=c.val().replace(/[^\d.]/g,'');
                  $(this).val(temp_amount);
             }
     	    });
    }
    function blurf(inputid,spanid)
    {
        $("#"+inputid).blur(function(){
            var c=$(this);
            var content =  $.trim(c.val);

            if ($.trim(c.val()))
            {
              if($("#"+spanid).is(":visible"))
              {
                  $("#"+spanid).hide();
              }
            }
     	});

    }
    $("#calculate").click(function(){
        var peoples = $("#peoples").val();
        var single = $("#single").val()
        var days =$("#days").val();
        var leavedate = $("#datepicker").val();
        var countryType1 = $("#area1").val();
        if ($.trim(peoples)=='')
        {

        }
        if(countryType1==''){
            alert('出访地区1未选')
            return;
        }

        $.each(fees,function (key,val) {
            if(key==countryType1)
            {
                $("#fee22").val(days*peoples*val[3]);
                $("#fee32").val(days*(peoples-single)*val[2]+days*single*val[2]*1.3);
                $("#fee42").val(days*peoples*val[4])
                $("#cashtype1").val(val[1])
            }
        })
        var sumbudget = 0
        var sumverify = 0
        for(var i = 1;i < 10;i++)
        {
            sumbudget+=Number($("#"+"fee"+i+"2").val());
            sumverify+=Number($("#"+"fee"+i+"3").val());

        }
        $("#fee102").val(sumbudget)
    });
        $("#submit").click(
            function(){
                /*checkvalue("peoplesname","peoplenameinfo","请输入团队成员！");
                checkvalue("peoples","peoplesnuminfo","请输入团队人数！");
                checkvalue("days","daysinfo","请输入批准天数！");
                checkvalue("datepicker","daysinfo","请选择出境日期！");
                checkvalue("area1","area1info","请选择出访地区1！");
                checkvalue("area1days","area1info","请输入出访地区1的天数！");
                checkvalue("cashtype1","area1info","请选择出访地区1的货币！")*/;
                $("#form").submit();
            });

    function checkvalue (inputid,spanid,textval){
        var input = $.trim($("#"+inputid).val());
        if(input=='')
        {
                var spanidinfo = $("#"+spanid);
                spanidinfo.show();
                spanidinfo.text(textval);
                $("#"+inputid).focus();
                return;
        }
    }
    </script>
{% endblock %}