{% extends "base.html" %}

{% block title %}Flasky{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

{% endblock %}


{% block page_content %}
<table id="table" class="table"></table>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script >

$(function(){
    var t = $('#table').bootstrapTable({
  url: "{{ url_for('main.jsonlist') }}",
    striped: true,
    pagination: true,
    showRefresh: true,
    paginationPreText:'上一页',
    paginationNextText:'下一页',
    search:true,
    buttonsAlign: "right",
    sidePagination: "server",
    pageNumber:1,
    pageSize:5,
    pageList:[5,10, 25, 50, 100],
  columns: [{
    field: 'peoplesname',
    title: '代表团成员'
  }, {
    field: 'peoples',
    title: '出国总人数'
  }, {
    field: 'days',
    title: '批准出访天数'
  },{
    field: 'applicationdate',
    title: '申请时间'
  },{
    field: 'expectdate',
    title: '预计出境日期'
  }, {
    field: 'area1',
    title: '出境地区国家'
  }, {
    field: 'fee102',
    title: '预借外币总金额'
  },{
    field: 'id',
    title: '编辑操作',
      align : 'center',
      formatter : function(value, row, index) {
													var c = '<a class="green-color" href="#"  onclick="info(\''
														+ row.id
														+ '\')">查看</a> ';
													var e = '<a class="green-color" href="#"  onclick="input(\''
															+ row.id
															+ '\')">编辑</a> ';
													var d = '<a class="red-color" href="#"  onclick="del(\''
															+ row.id
															+ '\')">删除</a> ';
													return c + e + d ;
												}
  },]
});


     t.on('load-success.bs.table', function (data) {//table加载成功后的监听函数
        console.log("load success");
        $(".pull-right").css("display", "block");
    });
});

function del(id) {
			if(confirm("确定删除?"))
            {
                $.ajax({
					type : "POST",
					url : "{{ url_for('main.delete')}}?id=" + id ,
					success : function(data) {
						alert("删除产品成功!")
                        alert(data)
						window.location.href = "{{ url_for('main.index') }}";
					}
				});
            }
}

function input(id)
{
    window.location.href = "{{ url_for('main.add') }}?id="+ id
}

</script>
{% endblock %}